@{
    Layout = null;
}

<form method="post">
    <label>Email</label>
    <input type="text" name="email"/>
    <label>Contraseña</label>
    <input type="text" name="pass" />
    <button>Iniciar sesión</button>
</form>

<a asp-controller="Account" asp-action="Registro">Registrarse</a>

@if (TempData["resultado"] != null)
{
    <div class="alert">
        @TempData["Mensaje"]
    </div>
}

<h2>@ViewData["error"]</h2>