@{
    Layout = null;
}

<form method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" />
    <label>Imagen</label>
    <input type="file" name="fichero" />
    <label>Email</label>
    <input type="text" name="email" />
    <label>Contraseña</label>
    <input type="text" name="pass" />
    <button>Registrarse</button>
</form>

<a asp-controller="Account" asp-action="Login">Iniciar sesion</a>