@model Usuario

<h1>Perfil</h1>

<h2>@Model.Nombre</h2>
<img src="@Model.Imagen" style="width:50px"/>
<h2>@Model.Email</h2>

<a asp-action="Editar" asp-controller="Usuario">
    Editar
</a>

VISTA SQL SERVER!!!!
Meter recopilacion de
    cuantos contenidos tiene en su catalogo personal en TOTAL
    cuantos son series
    cuantos son peliculas
    cuantos tiene pendientes