@{
    var idUsuario = Context.Session.GetInt32("idUsuario");
    var imgUsuario = Context.Session.GetString("imgUsuario");
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Librería Virtual</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    </head>

    <body class="layout-page">

        <div class="sidebar">
            <div class="menu">
                <a asp-controller="Usuario" asp-action="Perfil">Perfil</a>
                <a asp-controller="Contenido" asp-action="Index" asp-route-personal=@true>Catalogo Personal</a>
                <a asp-controller="Contenido" asp-action="Index" asp-route-personal=@false>Catalogo Publico</a>
                <a asp-controller="Contenido" asp-action="Recomendaciones">Recomendaciones</a>
                <a asp-controller="Contenido" asp-action="Index" asp-route-personal=@true asp-route-favs=@true>Tus Favoritos</a>
                <a asp-controller="Account" asp-action="Logout">Cerrar Sesión</a>
            </div>
        </div>

        <div class="right-zone">

            <div class="topbar">
            <a class="titulo" asp-controller="Home" asp-action="Index">LIBRERÍA VIRTUAL</a>

                <div class="perfil-burbuja">
                    <img src="/@imgUsuario"/>
                </div>
            </div>

            <div class="contenido">
                @RenderBody()
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </body>


</html>
