<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Librería Virtual</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="menu">
            <a asp-controller="Usuario" asp-action="Perfil">Perfil</a>
            <a asp-controller="Contenido" asp-action="Personal">Catalogo Personal</a>
            <a asp-controller="Contenido" asp-action="Index">Catalogo Publico</a>
            <a asp-controller="Contenido" asp-action="Recomendaciones">Recomendaciones</a>
            <a asp-controller="Account" asp-action="Logout">Cerrar Sesión</a>
        </div>
    </div>

    <!-- ZONA DERECHA -->
    <div class="right-zone">

        <!-- HEADER -->
        <div class="topbar">
            <h1 class="titulo">Librería Virtual</h1>

            <div class="perfil-burbuja">
                <img src="~/images/users/default.jpg" />
            </div>
        </div>

        <!-- CONTENIDO -->
        <div class="contenido">
            @RenderBody()
        </div>

    </div>

</body>
</html>
