<h1>Recomendaciones</h1>

<a asp-controller="Contenido" asp-action="Index" asp-route-accion="genero">
    Ver el catalogo segun tu genero más valorado
</a>
<a asp-controller="Contenido" asp-action="Index" asp-route-accion="puntuacion">
    Ver el catalogo segun los titulos mas valorados
</a>